canvas {
    margin: none;
    border: none;
    padding: none;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: black;
}

.toolbox {
    border: white solid medium;
    background-color: black;
    color: white;
    position: absolute;
    left: 85%;
    top: 0%;
    width: 15%;
    height: 10%;
    z-index: 2;
}

.closed {
    transform: translateY(-100%);
}

.opened {
    transform: translateY(0%);
}

.toolmenu {
    position: absolute;
    left: 85%;
    width: 15%;
    height: 90%;
    top: 10%;
    z-index: 1;
    transition-duration: 1s;
    background-color: white;
}

.menu-flex {
    position: absolute;
    left: 25%;
    width: 60%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.transform-digit {
    width: 25%;
    height: 5%;
}

.transform-open {
    font-size: 10vw;
    margin: 0px;
    position: absolute;
    left: 0%;
}

.transform-close {
    font-size: 10vw;
    margin: 0px;
    position: absolute;
    left: 80%;
}

.transform-select {
    position: relative;
    width: 100%;
}

.transform-input {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.transform-input::before {
    position: absolute;
    left: -35%;
    top: -45%;
    content: "[";
    font-size: 5em;
}

.transform-input::after {
    position: absolute;
    left: 75%;
    top: -45%;
    content: "]";
    font-size: 5em;
}

.reset-identity-button {
    background-color: blanchedalmond;
}

.operation-select {
    background-color: blanchedalmond;
}

.mode-select {
    background-color: blanchedalmond;
}
